# **This notebook contains the Linear Regression model**

# connect database and create dataframe

In [1]:
!pip uninstall pymongo
!pip install pymongo[srv]

Found existing installation: pymongo 4.0.2
Uninstalling pymongo-4.0.2:
  Would remove:
    /usr/local/lib/python3.7/dist-packages/bson/*
    /usr/local/lib/python3.7/dist-packages/gridfs/*
    /usr/local/lib/python3.7/dist-packages/pymongo-4.0.2.dist-info/*
    /usr/local/lib/python3.7/dist-packages/pymongo/*
Proceed (y/n)? y
  Successfully uninstalled pymongo-4.0.2
Collecting pymongo[srv]
  Downloading pymongo-4.1.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (462 kB)
     |████████████████████████████████| 462 kB 8.9 MB/s
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 44.7 MB/s
Installing collected packages: pymongo, dnspython
Successfully installed dnspython-2.2.1 pymongo-4.1.0

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf
import matplotlib as mpl

mpl.rcParams['figure.figsize'] = (8,6)
mpl.rcParams['axes.grid'] = False

In [21]:
import pymongo as pym
import pandas as pd
from sklearn.model_selection import train_test_split

client = pym.MongoClient('MONGO_URI') #connect database
client.test

Database(MongoClient(host=['ffs-shard-00-00.7lqnp.mongodb.net:27017', 'ffs-shard-00-02.7lqnp.mongodb.net:27017', 'ffs-shard-00-01.7lqnp.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-r74xj9-shard-0', tls=True), 'test')

In [25]:
db = client.FFSML
collection = db.ML_Data

df = pd.DataFrame(list(collection.find()))

df.drop(columns=['_id'],inplace=True) #drop _id column

col_names = ['year','month','day','attaragalla_rf','galgamuwa_rf','mediyawa_rf','mahagalkadawala_rf','streamflow']
df.columns = col_names

df.head()

,year,month,day,attaragalla_rf,galgamuwa_rf,mediyawa_rf,mahagalkadawala_rf,streamflow
0,2016,1,20,0.0,0.0,0.0,0.0,1.165105
1,2016,2,4,0.0,0.0,0.0,0.0,0.971200
2,2016,1,11,0.0,0.0,0.0,0.0,1.835221
3,2016,1,7,0.0,0.0,4.1,0.0,3.081524
4,2016,2,16,0.0,0.0,0.0,0.0,1.597633

## Data Splitting

In [26]:
#drop year month date columns
df.drop(columns=['year','month','day'],inplace=True)

X = df
Y = df.pop('streamflow')

In [28]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

X_train.head()

      attaragalla_rf  galgamuwa_rf  mediyawa_rf  mahagalkadawala_rf
646              0.0          11.4          7.5                 6.0
92               0.0           0.0          0.0                 0.0
818             13.0          61.5          9.0                 2.3
302              0.0           0.0          0.0                 0.0
1259             7.0           0.0          3.5                 0.0